<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <appSettings>
    <add key="CorsOrigins" value="http://localhost:61006" />
    <add key="KeyKhalaf" value="5423D587-B535-44B4-8CF8-7F2AC5B90136" />
    <add key="KeyServer2" value="62C08C2B-6C31-4436-B30C-FE8742770F35" />
    <add key="KeyServer3" value="B817E6F0-83A7-4187-BBB0-4BB8FC06F68A" />

    <add key="KhalafServerID" value="Hello I am Khalaf Server" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
</configuration>
